# Database Configuration
DATABASE_URL="mysql://National_university_admin:National_university@localhost:3306/National_university"

# JWT Configuration
JWT_SECRET_KEY="05b7847d5caa00b0f4a05fc8e4e773583211628f5e838b267efc35dee5a069dd"
JWT_EXPIRES_IN="7d"

# Session Configuration
SESSION_SECRET="your-super-secret-session-key-change-this-in-production"

# Server Configuration
PORT=3000
NODE_ENV="development"

# CORS Configuration
CORS_ORIGIN="http://localhost:3000"
CLIENT_URL="http://localhost:8080"

# Google OAuth (if using)
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
GOOGLE_CALLBACK_URL="http://localhost:3000/auth/google/callback"


# Redis Configuration
REDIS_HOST="localhost"
REDIS_PORT=6379
REDIS_PASSWORD=


EMAIL_SERVICE=gmail
EMAIL_USER=faresosama002@gmail.com
EMAIL_PASSWORD=ccyu wfhz loiu qtxs
